<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="renderer" name="%rendererEP" schema="schema/renderer.exsd"/>
   <extension-point id="language" name="RCPML Scripting Language" schema="schema/language.exsd"/>
   <extension
         point="org.rcpml.core.renderer">
      <renderer
            class="org.rcpml.core.internal.CoreRendererFactory"
            namespaceURI="http://rcpml.org/core"/>
   </extension>

</plugin>
