<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="namespace" name="RCPML Tag Namespace" schema="schema/namespace.exsd"/>
   <extension-point id="language" name="RCPML Scripting Language" schema="schema/language.exsd"/>
   <extension-point id="contentProvider" name="contentProvider" schema="schema/contentProvider.exsd"/>
   <extension
         id="core"
         name="Core namespace"
         point="org.rcpml.core.namespace">
      <namespace
            definition="/docs/tags.xml"
            xmlNS="http://rcpml.org/core">
         <tag
               class="org.rcpml.core.internal.scripting.ScriptFactory"
               name="script">
            <attribute
                  name="src"
                  required="false">
                  Specifies external URI of script source.
            </attribute>            
            Script tag are used to embed scripts into document.
            <attribute
                  name="language"
                  required="true">
                  Script language.
            </attribute>
         </tag>
         <tag
               class="org.rcpml.core.internal.css.CSSStyleTagFactory"
               name="style">
            <attribute
                  name="type"
                  required="true">
               Specifies external URI of style source.
            </attribute>
            Styles are used to describe CSS information.
         </tag>
      </namespace>
   </extension>
   <extension
         point="org.rcpml.core.contentProvider">
      <provider
            class="org.rcpml.core.internal.contentprovider.BundleContentProvider"
            schema="bundle"/>
      <provider
            class="org.rcpml.core.internal.contentprovider.LocalAbsolutePathContentProvider"
            schema="file"/>
   </extension>

</plugin>
