<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="namespace" name="RCPML Tag Namespace" schema="schema/namespace.exsd"/>
   <extension-point id="language" name="RCPML Scripting Language" schema="schema/language.exsd"/>
   <extension
         id="core"
         name="Core namespace"
         point="org.rcpml.core.namespace">
      <namespace xmlNS="http://rcpml.org/core">
         <tag
               class="org.rcpml.core.internal.scripting.ScriptFactory"
               name="script"/>
         <tag
               class="org.rcpml.core.internal.css.CSSStyleTagFactory"
               name="style"/>
      </namespace>
   </extension>

</plugin>
