<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.rcpml.example.forms"
            name="RCPML Form Examples"/>
      <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample0.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.views.SampleView0"
            name="RCPML Forms view 0"/>
      <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample1.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.views.SampleView1"
            name="RCPML Forms view 1"/>
      <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample2.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.views.SampleView2"
            name="RCPML Forms view 2"/>
      <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample3.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.views.SampleView3"
            name="RCPML Forms view 3"/>
      <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample4.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.sample4"
            name="RCPML Forms view 4"/>
      <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample5.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.sample5"
            name="RCPML Forms view 5"/>
      <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/addRemoveButtons.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.addremove"
            name="Button Add/Remove Test"/>
      <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample6.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.sample6"
            name="RCPML Forms view 6"/>
	 <view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample7.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.sample7"
            name="RCPML Forms view 7"/>            
	<view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample8.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.sample8"
            name="RCPML Forms view 8( Section add button )"/>
	<view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample9.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.sample9"
            name="RCPML Forms view 9( Simple databinding )"/>
	<view
            category="org.rcpml.example.forms"
            class="org.rcpml.core.RCPMLExtension:/views/sample10.xml"
            icon="icons/sample.gif"
            id="org.rcpml.example.forms.sample10"
            name="RCPML Forms view 10( CSS Selection )"/>
   </extension>
   <extension
         point="org.rcpml.core.dataSource">
      <dataSource
            class="org.rcpml.example.forms.datasource.MergeDataSourceFactory"
            name="org.rcpml.example.forms.datasource.merge"/>
   </extension>

</plugin>
