<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.rcpml.ui"
         name="UI Namespace"
         point="org.rcpml.core.namespace">
      <namespace xmlNS="http://rcpml.org/ui">
         <tag
               class="org.rcpml.ui.internal.ViewTagFactory"
               name="view"/>
         <tag
               class="org.rcpml.ui.internal.application.ApplicationTagFactory"
               name="application"/>
         <tag
               class="org.rcpml.ui.internal.application.PerspectiveTagFactory"
               name="perspective"/>
      </namespace>
   </extension>

</plugin>
