<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="script"
         name="Script Tag for Core namespace"
         point="org.rcpml.core.namespace">
      <namespace xmlNS="http://rcpml.org/core/tests/datasource">
         <tag
               class="org.rcpml.core.tests.datasource.DataSourceTestBridgeFactory"
               name="test_datasource"/>
      </namespace>
   </extension>
   <extension
         point="org.rcpml.core.dataSource">
      <dataSource
            class="org.rcpml.core.tests.datasource.TestDataSourceFactory"
            name="testDataSource"/>
   </extension>

</plugin>
